//load bootstrap + fonts
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "node_modules/react-select/scss/default.scss";
@import './layout/custom_navbar';
@import './layout/footer';
@import './base/typography';
@import './components/card';
@import './components/ideas';
@import './components/searchBar';
@import './components/orderBy';
@import './components/loader';

body{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
}
