@import './card';
@import './ideas';

body{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;

}
@font-face { font-family: Helvetica; src: url('./font/Helvetica-Condensed.otf'); }
@font-face { font-family: Helvetica; font-weight: bold; src: url('./font/Helvetica-Condensed.otf'); }
