.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 30px;
  font-size: 16px;
  background: #29383c;
  color: #fff;
  margin-top: 20px;
  font-weight: 200;
  a{
    text-decoration: none;
    color: #fff;
  }
  &__bold{
    font-weight: 400;
  }
  &__title{
    font-size: 21px;
  }
  &__warning{
    color: #f08f00;
    cursor: pointer;
  }

  &__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;

    &__group{
      display: flex;
      flex-direction: column;

      img{
        cursor: pointer;
      }
      div{
        margin: 10px 0;
      }

      &--onlyBigDevices{
        display: none;
        @media screen and (min-width: 650px){
          display: flex;
          flex-direction: column;
          div{
            margin: 10px 0;
          }
        }
      }
    }
    &__social{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      i{
        cursor: pointer;
      }
    }
  }
  &__bottomLine{
    display: flex;
    flex-direction: column;
    margin: 20px none;
    img{
      width: 180px;
      height: 35px;
      margin-top: 20px;
    }
    div{
      margin-top: 10px;
    }
    @media screen and (min-width: 650px){
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin: none;
      img, div{
        margin-top: 40px;
      }
    }
  }
}
