.searchBar{
  hr{
    margin: 0;
  }
  &Flex{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 600px){
      align-items: center;
      flex-direction: row;
    }

    font-size: 18px;
    margin-left: 30px;
    margin-right: 10px;
    &__investment{
      flex: 2;
      padding: 15px;
      padding-left: 0;
      @media screen and (min-width: 600px){
        padding: 0;
      }
      font-size: 22px;
    }
    &__input{
      flex: 1;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      //mobile first
      @media screen and (min-width: 600px){
        width: auto;
      }
      input{
        padding: 15px;
        padding-left: 0;
        border: none;
        width: 100%;
        color: black;
        @media screen and (min-width: 600px){
          padding-left: 15px;
          border: 1px solid #eee;
          border-top: none;
          border-bottom: none;
        }
      }
      input:focus{
        outline: none;
        color: black;
      }
      span{
        padding: 15px;
        padding-left: 0;
        @media screen and (min-width: 600px){
          padding-left: 15px;
        }
      }
      i{
        position: absolute;
        right: 22px;
        cursor: pointer;
        @media screen and (min-width: 600px){
          right: 45px;
          right: 17px;
        }
      }

    }

  }
}


.filter{
  flex-direction: column;
  width: 100%;
  position: absolute;
  z-index: 99;
  padding-left: 28px;
  padding-right: 31px;
  padding-top: 20px;
  padding-bottom: 30px;
  background: #f4f4f4;
  transition: all .1s ;
  &__title{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div{
      flex-shrink: 0;
      padding: 10px;
      background: #e4e4e4;
      margin: 2px;
      border-radius: 5px;
      cursor: pointer;
    }
    div.selected{
      color: white;
      background: black;
    }
  }
  &__buttonGroup{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    &--clear{
      border: 2px solid #ccc;
      background: #ccc;
      font-size: 17px;
      border: #ccc;
      border-radius: 2px;
      padding: 10px;
      color: black;
      cursor: pointer;
    }
    &--apply{
      border: 2px solid #64a816;
      background: #64a816;
      color: #fff;
      font-size: 17px;
      border-radius: 2px;
      padding: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &--visible{
    opacity: 1;
  }
  &--hidden{
    height: 0;
    padding: 0;
    opacity: 0;
  }
}
